TRINO_HOST=trino
TRINO_PORT=8080
TRINO_USER=ai_reader
TRINO_PASSWORD=
TRINO_HTTP_SCHEME=http
TRINO_CATALOG=airc_coversheet
TRINO_SCHEMA=airc_coversheet_db
TRINO_VERIFY_SSL=false

QUERY_API_KEY=change_this_secret_token
MAX_ROWS=200
TIMEOUT_SECONDS=30
